<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Streaming demo</display-name>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	
	 <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>s</servlet-name>
		<servlet-class>org.test.streaming.Demo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>u</servlet-name>
		<servlet-class>org.test.streaming.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>subs</servlet-name>
		<servlet-class>org.test.streaming.Subtitle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>u</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>s</servlet-name>
		<url-pattern>/stream/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>subs</servlet-name>
		<url-pattern>*.srt</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
<!-- 		<url-pattern>*.srt</url-pattern> -->
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.img</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.swf</url-pattern>
		<url-pattern>*.zip</url-pattern>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
